html
  head
    title!= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
  body
    .container
      .jumbotron
        h1="OOPS ..."
          div.small="WE could not find the person you're looking for. Please confirm you entered the correct information"